<div>
	<table class="table table-hover table-bordered">
		<thead>
			
		</thead>
		<tbody>
		   {{#each data}}
			<tr>
				<td class="col-sm-6">创建时间</td>
				<td class="col-sm-6">{{createDate}}</td>
			</tr>
			<tr>
				<td class="col-sm-6">创建人</td>
				<td class="col-sm-6">{{createUser}}</td>
			</tr>
{{!-- 			<tr>
			<td class="col-sm-6">最后操作人</td>
				<td class="col-sm-6">332132132131232133</td>
			</tr> --}}
			<tr>
				<td class="col-sm-6">页面标题</td>
				<td class="col-sm-6">{{indexName}}</td>
			</tr>
			<tr>
				<td class="col-sm-6">版本号</td>
				<td class="col-sm-6">{{appVersion}}</td>
			</tr>
			<tr>
				<td class="col-sm-6">发布时间</td>
				<td class="col-sm-6">{{effectTime}}</td>
			</tr>
			{{/each}}
		</tbody>
		<tfoot>
		</tfoot>
	</table>
</div>