<div class="content table-responsive table-full-width padding_none">
	<div class="Vertical-heading">
      <ul class="nav nav-tabs" id = "vertical_floor_nav">
        <li role="presentation" class="navigate_goods"><a href="#">商品</a></li>
        <li role="presentation" class="navigate_ad"><a href="#">广告</a></li>
        <li role="presentation" class="active navigate_nav"><a href="#">导航</a></li>
      </ul>
    <div>
</div>


<div class="content table-responsive table-full-width padding_none">
	<div class="picture_text_content">
		<article>
			<form class="form-horizontal" role="form">
				<div  class="form-group">
					    <label class="col-sm-3 control-label" for="ds_host">主标题</label>
					    <div class="col-sm-5">
							<input class="form-control main_title" value="{{main_title}}" id="ds_host" type="text">
					    </div>
					    <div class="col-sm-4">
					    	<a>不超过8个字</a>	
					    </div>
				</div>
				<div  class="form-group">
					    <label class="col-sm-3 control-label" for="ds_host">副标题</label>
					    <div class="col-sm-5">
							<input class="form-control side_title" value="{{side_title}}" id="ds_host" type="text">
					    </div>
					    <div class="col-sm-4">	
					    	<a>不超过9个字</a>
					    </div>
				</div>
				<div  class="form-group">
					    <label class="col-sm-3 control-label" for="ds_host">导航一标题</label>
					    <div class="col-sm-5">
							<input class="form-control title1" value="{{title1}}" id="ds_host" type="text">
					    </div>
					    <div class="col-sm-4">
					    	<a>不超过7个字</a>	
					    </div>
				</div>

				<div  class="form-group">
				    <label class="col-sm-3 control-label" for="ds_host">广告链接</label>
				    <div class="col-sm-5">
						<input class="form-control uri1" value="{{uri1}}" id="ds_host" type="text">
				    </div>
				    <div class="col-sm-4">	
				    </div>
				</div>
				<div  class="form-group">
					    <label class="col-sm-3 control-label" for="ds_host">导航二标题</label>
					    <div class="col-sm-5">
							<input class="form-control title2" value="{{title2}}" id="ds_host" type="text">
					    </div>
					    <div class="col-sm-4">	
					    	<a>不超过7个字</a>
					    </div>
				</div>
				<div  class="form-group">
				    <label class="col-sm-3 control-label" for="ds_host">广告链接</label>
				    <div class="col-sm-5">
						<input class="form-control uri2" value="{{uri2}}" id="ds_host" type="text">
				    </div>
				    <div class="col-sm-4">	
				    	
				    </div>
				</div>
				<div  class="form-group">
					    <label class="col-sm-3 control-label" for="ds_host">导航三标题</label>
					    <div class="col-sm-5">
							<input class="form-control title3" value="{{title3}}" id="ds_host" type="text">
					    </div>
					    <div class="col-sm-4">	
					    	<a>不超过7个字</a>
					    </div>
				</div>
				<div  class="form-group">
				    <label class="col-sm-3 control-label" for="ds_host">广告链接</label>
				    <div class="col-sm-5">
						<input class="form-control uri3" value="{{uri3}}" id="ds_host" type="text">
				    </div>
				    <div class="col-sm-4">	

				    </div>
				</div>
				<div  class="form-group">
					    <label class="col-sm-3 control-label" for="ds_host">导航四标题</label>
					    <div class="col-sm-5">
							<input class="form-control title4" value="{{title4}}" id="ds_host" type="text">
					    </div>
					    <div class="col-sm-4">	
					    	<a>不超过7个字</a>
					    </div>
				</div>
				<div  class="form-group">
				    <label class="col-sm-3 control-label" for="ds_host">广告链接</label>
				    <div class="col-sm-5">
						<input class="form-control uri4" value="{{uri4}}" id="ds_host" type="text">
				    </div>
				    <div class="col-sm-4">	
				    </div>
				</div>
				<div  class="form-group">
					    <label class="col-sm-3 control-label" for="ds_host">导航五标题</label>
					    <div class="col-sm-5">
							<input class="form-control title5" value="{{title5}}" id="ds_host" type="text">
					    </div>
					    <div class="col-sm-4">	
					    	<a>不超过7个字</a>
					    </div>
				</div>
				<div  class="form-group">
				    <label class="col-sm-3 control-label" for="ds_host">广告链接</label>
				    <div class="col-sm-5">
						<input class="form-control uri5" value="{{uri5}}" id="ds_host" type="text">
				    </div>
				    <div class="col-sm-4">	
				    </div>
				</div>
			    <div  class="form-group">
					    <label class="col-sm-3 control-label" for="ds_host">导航六标题</label>
					    <div class="col-sm-5">
							<input class="form-control title6" value="{{title6}}" id="ds_host" type="text">
					    </div>
					    <div class="col-sm-4">	
					    	<a>不超过7个字</a>
					    </div>
				</div>
				<div  class="form-group">
				    <label class="col-sm-3 control-label" for="ds_host">广告链接</label>
				    <div class="col-sm-5">
						<input class="form-control uri6" value="{{uri6}}" id="ds_host" type="text">
				    </div>
				    <div class="col-sm-4">	
				    </div>
				</div>
			</form>
		</article>
	</div>
</div>


<button class="btn btn-info edit_confirm fr">确定</button>
<button class="btn btn-warning edit_quit fr">取消</button>