{{!-- ##轮播 t13 --}}
    <div class="template drop_item edit_each_click index_t13" data-tpl = "t13" data-edit = "carousel_goods" appId = "{{data.appId}}">
    <div class="Carousel_title">{{data.title}}</div>
        <div id="carousel_tpl" class="carousel slide" data-ride="carousel" appId = "{{data.appId}}">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            {{#each data.content}}
              <li data-target="#carousel-example-generic" data-slide-to="0" class = "slide_dot"></li>
            {{/each}}
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            {{#each data.content}}
              <div class="item slide_div">
                <img class = "img_data" data-uri = "{{uri}}" src="{{picUri}}" alt="...">
                <div class = "carousel-caption">
                </div>
              </div>
            {{/each}}

          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </a>
        </div>
        
        <button type="button" class="btn btn-default btn-xs remove"><span class="glyphicon glyphicon-trash"></span></button>
    </div>