{{#each data}}
    <dl>
        <dt class = "main_title">{{main_title}}</dt>
        <dd class = "side_title">{{side_title}}</dd>
    </dl>
    <ul class = "navigate_module">
        <li>
            <a>
                <span class = "nav1" data-uri = "{{uri1}}">
                    {{nav1}}
                </span>
            </a>
            <a>
                <span class = "nav2" data-uri = "{{uri2}}">
                     {{nav2}}
                </span>
            </a>
        </li>
        <li>
            <a>
                <span class = "nav3" data-uri = "{{uri3}}">
                     {{nav3}}
                </span>
            </a>
            <a>
                <span class = "nav4" data-uri = "{{uri4}}">
                     {{nav4}}
                </span>
            </a>
        </li>
        <li>
            <a>
                <span class = "nav5" data-uri = "{{uri5}}">
                     {{nav5}}
                </span>
            </a>
            <a>
                <span class = "nav6" data-uri = "{{uri6}}">
                     {{nav6}}
                </span>
            </a>
        </li>
    </ul>
{{/each}}
