<div class="div1 watch template drop_item index_t9" data-tpl = "t9" style="height:150px" 
     appId = "{{data.appId}}">
       <ul>
          {{#each data.content}}
               <li class="edit_each_click" data-edit ="one_row_three_four" data-uri="{{uri}}">
               <dl>
                   <dt class = "main_title">{{mainTitle}}</dt>
                   <dd class = "side_title">{{sideTitle}}</dd>
               </dl>
               <a class="watch-images1 img_url" style = "background:url({{picUri}});background-size: contain;background-repeat:no-repeat;height:100px;"></a>
               </li>
           {{/each}}
           <div style = "clear:both;"></div>    
       </ul>

       <button type="button" class="btn btn-default btn-xs remove"><span class="glyphicon glyphicon-trash"></span></button>
   </div>